.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: auto;
}

.container > p {
  margin: 8px;
}

.profilenamecontainer {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.624);
  margin: 20px;
  height: 150px;
  width: 150px;
}

.profilesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;}

.profileH1 {
  font-size: 30px;
}
