.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: auto;
  border: 1px black solid;
}

.container > p {
  margin: 8px;
}

.profilenamecontainer {
  border: 1px solid black;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.624);
  margin: 20px;
  height: 150px;
  width: 150px;
}
