.garbencontainer{
  border: solid 1px black;
  height: 150px;
  width: 150px;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.547);
}

.profiledetailscontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.changepassword {
  margin: 10px 40px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #6CC551;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: black;
}

.createagardenbed {
  margin: 10px 40px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #6CC551;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
  color: black;
}

.changepassword:hover {
  background-color: #315C2B;
}

.createagardenbed:hover {
  background-color: #315C2B;
}