.imagecontainer {
  height: 500px;
  width: 500px;
}

.seeddetailscontainer {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  align-items: center;
  width: 60%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.696);
  border-radius: 15px;
  padding-bottom: 50px;
  padding-top: 50px;
  margin-top: 5%;
  margin-left: 20%;
  margin-bottom: 20px;
  
}

h4 {
  width: 500px;
}

.mainseedcontainer {
display: flex;

}

.seedDetailsH1 {
  font-size: 2.5rem;
}

.h1Container {
  text-align: center;
}